.fab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.9375rem;
  height: 3.9375rem;
  border-radius: 50%;
  background-color: #74ac00;
  position: absolute;
  bottom: 1.3125rem;
  right: 1.3125rem;
  z-index: 9999;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.224) 1px 1px 4px;
}